/*	----------------------------------------
	GLOBAL
   	----------------------------------------  */
* {
	box-sizing: border-box;
}

body {
	background: #ddd;
	text-align: center;
	font-family: Roboto, sans-serif;
}

main {
	max-width: 980px;
	margin: 6em auto 0;
	padding: 0 1em;
}



header {
	background-color: #fff;
	padding-bottom: 2em;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3;
}

header h1 {
	margin-top: .8em;
	font-size: 1.6em;
	color: #0d0d0d;
}

input[type="text"] {
	font-size: 16px;
	width: 460px;
	padding: .6em;
	margin-top: 1em;
	border: 1px solid #bbb;
	border-radius: 5px;
	outline: none;
}


/*	----------------------------------------
	GALLERY
   	----------------------------------------  */

#gallery {
	padding-top: 72px;
}

.overlay {
	display: none;
}


li.item-gallery {
	display: inline-table;
	margin: 2em 1em 0;

	text-align: left;
	padding: 0;
	

}

li.item-gallery img {
	border-radius: 25px;
}

figure {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	
}

figcaption {
	position: absolute;
	bottom: 4px;
	padding: 2em;
	color: transparent;
	transition: .4s linear;
	z-index: 2;
	font-size: .9em;
	height: 200px;
	border-radius: 25px;
}


figcaption:hover {
	color: #FAFAFA;
	background-color: rgba(0, 0, 0, 0.6);
}



/*	----------------------------------------
	OVERLAY
   	----------------------------------------  */

.overlay {
	width: 100%;
	min-height: 100%;
	background-color: rgba(0,0,0,.8);
	position: fixed;
	top:0;
	left:0;
	z-index: 9;
}

.container {
	max-width: 80%;
	max-height: 90%;
	margin: 20px auto 0;
	position: relative;
	top: center;
	z-index: 10;
	
}

.container img { max-width: 100%;} 

.controllers img {
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 11;
	border-radius: 50%;
	border: 2px solid #000;
	background: #fff;
	padding: 6px;
}

.container p {
	width: 100%;
	padding: 20px;
	background-color: rgba(0,0,0,.6);
	color: #fff;
	text-align: left;
	position: absolute;
	bottom: 3px;
	margin: 0;
	font-family: 'Droid Sans Mono', sans-serif;
}

.controllers img.close {
	top: 2%;
	right: 2%;
	padding: 0;
}

.next {
	top: 40%;
	right: -15px;
}

.prev {
	top: 40%;
	left: -15px;
}





/*	----------------------------------------
	FOOTER
   	----------------------------------------  */
footer {
	font-size: 65%;
	padding: 2em 0;
	max-width: 980px;
	margin: 2em auto 0;
}

footer p {
	float: right;
	position: relative;
	bottom: 0;
	left: -30px;
	width: 25%;
	text-align: left;
}

footer p a {
	position: absolute;
	top: 10px;
	left: -55px;
	color: #ccc;
}

footer img {
	width: 40px;
}


/*	----------------------------------------
	UTILITIES
   	----------------------------------------  */
/*		micro clearfix by Nicolas Gallagher
		http://nicolasgallagher.com/micro-clearfix-hack/ */

.cf:before, .cf:after { content: " "; display: table; }
.cf:after { clear: both; }